*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-master-lightest);
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: var(--spacing_inset-sm);
}
